/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  
  /* ---- typography ---- */
  
  body {
    color: white;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 147%;
  }
  
  h1 {}
  
  h2 {}
  
  h3 {}

  header ul {
    list-style: none;
  }

  header ul a {
    color: white;
    text-decoration: none;
  }
  
  p {
    margin: 0;
  }

  h1.page-title {
    font-family: Roboto-Black;
    font-size: 26px;
    text-transform: uppercase;
  }
  
  
  
  /* ---- layout ---- */

  body {
    background-color: #F8765E;
    text-align: center;
  }

  header {
    text-align: center;
  }

  h1.page-title {
    text-align: center;
  }
  
  #site-header {
    padding: 30px 0;
    color: white;
    background: #111;
  }
  
  #site-footer {
    color: white;
    padding: 60px 0;
    background: #111;
  }
  
  #site-main {
    margin-bottom: 60px;
  }
  
  .container {
    margin: 0 20px;
  }
  
  .section {
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
 
  
  
  
  /* ---- components ---- */
  
  .button {
    width: 100%;
    background-color: blue;
    color: #fff;
    border: 1px solid #fff;
  }
  
  .button-alt {
    color: blue;
    background-color: #fff;
  }
  
  /* ---- section ---- */
  
  