/* reset */
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

/* variables */
:root {
  --color-primary: #F8765E; /* salmon */
  --color-secundary: #9BDBE7; /* turqueza */
  --color-text: #5B6C94;
  --color-disabled: #CDCDCD;
  --border-radius: 20px;
  --drop-shadow-color: 0, 0, 0;
  --drop-shadow: 2px 2px 8px 0px rgba(var(--drop-shadow-color), 0.14);
}

/* typography */
body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
	font-size: 16px;
	font-weight: bold;
}

h1 {
	font-size: 30px;
	line-height: 40px;
	font-weight: 900;
}

h2 {
	text-align: left;
	height: 25px;
	width: 295px;
	color: var(--color-text);
	font-family: Roboto;
	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
}

h3 {}

header ul {
	list-style: none;
}

header ul a {
	color: white;
	text-decoration: none;
}

p {
	font-size: 16px;
	font-weight: 700;
	line-height: 32px;
}

h1.page-title {
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 900;
}

input[type=text] {
  color: var(--color-disabled);
  font-weight: bold;
	padding: 20px; 
}

input::placeholder {
  color: var(--color-disabled);
	font-size: 17px;
  font-weight: bold;
  padding: 20px;
}


section .white-rounded {
	height: 192px;
	width: 295px;
	color: #5B6C94;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 32px;
}


/* layout */
body {
  background-color: white;
	text-align: center;
}


header {
  text-align: center;
  background-color: var(--color-primary);
  padding: 20px;
}

section.intro {
  padding: 30px 30px 100px 30px;
  background-color: var(--color-primary);
}

section.intro img{
    height: 231px;
    width: 286px;
}

.iPhone-header {
	height: 231px;
	width: 286px;
}

h1.page-title {}

input[type=email] {
	width: 100%;
	height: 60px;
	border-radius: var(--border-radius);
	border: 1px solid #ccc;
	box-shadow: var(--drop-shadow);
}

form {
	text-align: center;
}

button {
	height: 60px;
	border-radius: var(--border-radius);
	background-color: #9BDBE7;
	box-shadow: var(--drop-shadow);
}

button[type='submit'] {
	width: 50%;
  height: 60px;
  margin-top: 20px;
	color: white;
	font-size: 20px;
	text-align: center;
	background-color: var(--color-secundary);
	box-shadow: var(--drop-shadow);
}

article {
	margin-top: 60px;
	margin-left: 20px;
	margin-right: 20px;
}

#site-header {
	padding: 30px 0;
	color: white;
	background: #111;
}

#site-footer {
	color: white;
	padding: 60px 0;
	background: #111;
}

#site-main {
	margin-bottom: 60px;
}

.container {
	margin: 0 20px;
}

/* components */




/* section */
section.benefit {
  margin-top: -100px;
	width: 80%;
	border-radius: var(--border-radius);
	background-color: #FFFFFF;
  box-shadow: var(--drop-shadow);
	color: var(--color-text);

}

.divider {
	margin-top: 15px;
	height: 5px;
	width: 60px;
	background-color: var(--color-primary);
}

div.white-background {
  top: -100px;
  background-color: white;
}